<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>moremore</title>
        <link rel="stylesheet" href="{% static 'css/index-style.css' %}">
    </head>
    <body>
        <div id='container'>
            <div id='header'>
                <a href="/main">
                    <img id='header-title' src="{% static 'images/title.PNG' %}">
                </a>
            </div>
            <div id='search'>
                <div id='input'>
                    <form action="/main/search" method="GET">
                        <input type="text" name="q" placeholder="검색어를 입력하세요">
                        <button type="submit">검색</button>
                    </form>
                </div>
                <div id="recommended-searches">
                    <ul id="recommended-words">
                        <li><a href="/main/search?q=데이터">데이터</a></li>
                        <li><a href="/main/search?q=AI">AI</a></li>
                        <li><a href="/main/search?q=인공지능">인공지능</a></li>
                        <li><a href="/main/search?q=해커톤">해커톤</a></li>
                        <li><a href="/main/search?q=아이디어">아이디어</a></li>
                    </ul>
                </div>
            </div>
            <div id='competition-info'>
                <div class='info'>
                    <div class='platform-title'>
                        <a href="/main">
                            <img id='linkcarrer-title' src="{% static 'images/linkcarrer.PNG' %}">
                        </a>
                    </div>
                    <ul class='competition-list'>
                        {% for competition in competition_linkcarrer %}
                        <li>
                            <a href="{{ competition.url }}">
                                <h5 class='title'>{{ competition.title }}</h5>
                                <span class='application-start'>{{ competition.application_start|date:"Y-m-d" }}</span>
                                <span> ~ </span>
                                <span class='application-end'>{{ competition.application_end|date:"Y-m-d" }}</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class='see-more'>
                        <a href="https://linkareer.com/list/contest">
                            더보기
                        </a>
                    </div>
                </div>
                <div class='info'>
                    <div class='platform-title'>
                        <a href="/main">
                            <img id='wevity-title' src="{% static 'images/wevity.PNG' %}">
                        </a>
                    </div>
                    <ul class='competition-list'>
                        {% for competition in competition_wevity %}
                        <li>
                            <a href="{{ competition.url }}">
                                <h5 class='title'>{{ competition.title }}</h5>
                                <span class='application-start'>{{ competition.application_start|date:"Y-m-d" }}</span>
                                <span> ~ </span>
                                <span class='application-end'>{{ competition.application_end|date:"Y-m-d" }}</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class='see-more'>
                        <a href="https://www.wevity.com/?c=find&s=1&gub=&cidx=&sp=&sw=&gbn=list&mode=ing">
                            더보기
                        </a>
                    </div>
                </div>
                <div class='info'>
                    <div class='platform-title'>
                        <a href="/main">
                            <img id='thinkgood-title' src="{% static 'images/thinkgood.PNG' %}">
                        </a>
                    </div>
                    <ul class='competition-list'>
                        {% for competition in competition_thinkgood %}
                        <li>
                            <a href="{{ competition.url }}">
                                <h5 class='title'>{{ competition.title }}</h5>
                                <span class='application-start'>{{ competition.application_start|date:"Y-m-d" }}</span>
                                <span> ~ </span>
                                <span class='application-end'>{{ competition.application_end|date:"Y-m-d" }}</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class='see-more'>
                        <a href="https://www.thinkcontest.com/thinkgood/user/contest/index.do#PxyyoRLHIcgvNg6HiHNz_uA4QOthhmxuMkOJ-8OGsYHuum-XS7oXTXHj_WQpSdho7EnVynWoiuBwl84H1ChINGL0PwCVS2cspmoqCGi-qpZY6T5M_ZxBwx9fWgmwB-cK">
                            더보기
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>