<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>moremore</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div id='container'>
            <div id='header'>
                <a href="/main">
                    <img id='header-title' src="{% static 'images/title.PNG' %}">
                </a>
            </div>
            <div id='search'>
                <div id='input'>
                    <form action="/main" method="GET">
                        <input type="text" name="q" placeholder="검색어를 입력하세요">
                        <button type="submit">검색</button>
                    </form>
                </div>
                <div id="recommended-searches">
                    <ul id="recommended-words">
                        <li><a href="/main?q=검색어1">검색어1</a></li>
                        <li><a href="/main?q=검색어2">검색어2</a></li>
                        <li><a href="/main?q=검색어3">검색어3</a></li>
                        <li><a href="/main?q=검색어4">검색어4</a></li>
                        <li><a href="/main?q=검색어5">검색어5</a></li>
                    </ul>
                </div>
            </div>
            <div id='competition-info'>
                <div id='linkcarrer-info' class='info'>
                    <div class='platform-title'>
                        <a href="/main">
                            <img id='linkcarrer-title' src="{% static 'images/linkcarrer.PNG' %}">
                        </a>
                    </div>
                    <ul class='competition-list'>
                        {% for competition in competition_linkcarrer %}
                        <li>
                            <a href="{{ competition.url }}">
                                <h5 class='title'>{{ competition.title }}</h5>
                                <span class='application-start'>{{ competition.application_start|date:"Y-m-d" }}</span>
                                <span> ~ </span>
                                <span class='application-end'>{{ competition.application_end|date:"Y-m-d" }}</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class='see-more'>
                        <a href="/main">
                            더보기
                        </a>
                    </div>
                </div>
                <div id='wevity-info' class='info'>
                    <div class='platform-title'>
                        <a href="/main">
                            <img id='wevity-title' src="{% static 'images/wevity.PNG' %}">
                        </a>
                    </div>
                    <ul class='competition-list'>
                        {% for competition in competition_wevity %}
                        <li>
                            <a href="{{ competition.url }}">
                                <h5 class='title'>{{ competition.title }}</h5>
                                <span class='application-start'>{{ competition.application_start|date:"Y-m-d" }}</span>
                                <span> ~ </span>
                                <span class='application-end'>{{ competition.application_end|date:"Y-m-d" }}</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class='see-more'>
                        <a href="/main">
                            더보기
                        </a>
                    </div>
                </div>
                <div id='thinkgood-info' class='info'>
                    <div class='platform-title'>
                        <a href="/main">
                            <img id='thinkgood-title' src="{% static 'images/thinkgood.PNG' %}">
                        </a>
                    </div>
                    <ul class='competition-list'>
                        {% for competition in competition_thinkgood %}
                        <li>
                            <a href="{{ competition.url }}">
                                <h5 class='title'>{{ competition.title }}</h5>
                                <span class='application-start'>{{ competition.application_start|date:"Y-m-d" }}</span>
                                <span> ~ </span>
                                <span class='application-end'>{{ competition.application_end|date:"Y-m-d" }}</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class='see-more'>
                        <a href="/main">
                            더보기
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>